html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */
body{
    background-color: #DDDDDD;
    font-family: 'Krub', sans-serif;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
h1, h2{
    margin: 0;
}
h2{
    font-size: 2.4rem;
}

/* Boton */
.boton{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #007680;
    border: none;
}
.boton-contacto{
    font-size: 2rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 1rem;
}
.boton-enviar{
    font-size: 1.7rem;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

/* Navegación */
.site-header{
    background-color: #ffffff;
}
@media(min-width: 768px) {
    .navegacion{
        display: flex;
        justify-content: space-between;
    }
}
.navegacion a{
    color: #000000;
    text-decoration: none;
    font-size: 2.3rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
}

/* Banner */
.banner{
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after{
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenido-banner{
    position: relative;
    z-index: 1;
    text-align: center;
}
.contenido-banner h1{
    color: #ffffff;
    font-size: 3.2rem;
}
.contenido-banner p{
    color: #ffffff;
    font-size: 2rem;
}
.contenido-banner i{
    font-size: 4rem;
    color: #F2BB16;
}

/* Servicios */
main{
    padding: 3rem 0;
}
@media(min-width: 768px) {
    main{
        padding: 3rem;
    }
}
.contenido-principal{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 1rem 2.1rem -0.9rem rgba(0, 0, 0, .7);
}
.contenido-principal h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    margin: 4rem 0;
}
@media(min-width: 768px) {
    .servicios{
        display: flex;
        justify-content: space-between;
    }
    .servicio{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h2{
    color: #007680;
    font-weight: 400;
    font-size: 3rem;
}
.servicio p{
    font-size: 1.6rem;
    line-height: 2;
}
.icono{
    background-color: #F2BB16;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
}
.icono i{
    font-size: 3rem;
}

/* Contacto */
.contacto{
    background-color: #666666;
    border-radius: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 3rem;
}
.contacto p{
    font-size: 2.3rem;
    color: #F2BB16;
    margin-bottom: 3rem;
    text-align: center;
}
label{
    display: inline-block;
    color: #ffffff;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
input:not([type="submit"]){
    display: inline-block;
    width:100%;
    padding: 1rem;
    margin-bottom: 2rem;
}
textarea{
    width: 100%;
    height: 7rem;
}
